# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with "go test -c"
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
tmp/
.lists

# .env file
.env

# Project build
main
*templ.go
# OS specific files
.DS_Store

# Testing tools
coverage/

# Local env files
.env.local
.env.development
.env.production
package-lock.json
# Version control noise
.git/
